.searchInput{
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 2em;

}

.bar{
    width: 10%;

}

.searchButton{
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    height: 2em;

}